<div class="row" id="articles">
  {{#each articles}}
  <div class="col s12 m12">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title teal-text text-darken-4">{{title}}</span>
        <p>{{summary}}</p>
      </div>
      <div class="card-action">
        <a href="{{url}}" target="_blank" class="btn">View More...</a>
        <a href="#" data-id="{{_id}}" class="btn btn-save-article">Save Article</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>