<div class="row" id="articles">
  {{#unless articles}}
    <p class="center">There are no articles scraped</p>
    <p class="center">
      <a href="#" class="btn scrape">Scrape New Articles</a>
    </p>
  {{/unless}}

  {{#each articles}}
  <div class="col s12 m12">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title black-text text-darken-4">{{title}}</span>
        <p>{{summary}}</p>
      </div>
      <div class="card-action">
        <a href="{{url}}" target="_blank" class="btn"><i class="material-icons right">open_in_new</i>View More...</a>
        <a href="#" data-id="{{_id}}" class="btn btn-save-article"><i class="material-icons right">star</i>Save Article</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>