@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
*{
  font-family: 'Special Elite', cursive;
  box-sizing: border-box;
}
input, button{
  font-family: 'Special Elite', cursive;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #adb9ad;
}

main {
  flex: 1 0 auto;
}

.page-footer{
  text-align: center;
}

.brand-logo{
  margin-left: 10px;
}

.modal-header{
  position: sticky;
  top: -30px;
  width: auto;
  padding-top: 15px;
  z-index: 10;
  background-color: #fafafa;
}
.wrap-comments{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.wrap-comments a{
  justify-self: flex-end;
}

.modal-content{
  vertical-align: text-bottom;
  overflow: auto;
}
.modal-content p{
  margin-left: 20px;
}

.modal-footer{
  display: flex;
}
.modal-footer input{
  height: 35px !important;
}

.wrap-internal-title{
  margin-top: 10px;
}

.wrap-internal-title img{
  width: 60px;
  height: 60px;
  border-radius: 200px;
  margin-top: 2px;
}
