@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
*{
  font-family: 'Special Elite', cursive;
}
input, button{
  font-family: 'Special Elite', cursive;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #adb9ad;
}

main {
  flex: 1 0 auto;
}

.page-footer{
  text-align: center;
}

.brand-logo{
  margin-left: 10px;
}

.wrap-internal-title{
  margin-top: 10px;
}

.wrap-internal-title img{
  width: 60px;
  height: 60px;
  border-radius: 200px;
  margin-top: 2px;
}
